# Python
backend/pip.ini
backend/.venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/*.egg-info/
backend/dist/
backend/build/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Desktop
desktop/node_modules/
desktop/dist/

# OS
.DS_Store
Thumbs.db
